pytest==5.2.2
pytest-mypy==0.4.1

# Running tests on Travis
coverage==4.5.4
coveralls==1.8.2
mypy==0.740
pytest-cov==2.8.1
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability